/dt_tree.png
/cb_param_importances.png
/cb_optimization_history.png
/cb_real_vs_pred.png
/xgb_param_importances.png
/xgb_optimization_history.png
/xgb_real_vs_pred.png
/nn_training_history.png
/nn_real_vs_pred.png
/lr_real_vs_pred.png
/dt_real_vs_pred.png
/rf_real_vs_pred.png
/cb_feature_importances.png
/xgb_feature_importances.png
/rf_feature_importances.png
/lr_feature_importances.png
/dt_feature_importances.png
/nn_weight_histograms.png
